.jekyll-metadata
_site
Gemfile.lock
node_modules/
package-lock.json
package.json

# Eclipse
.project

# Python 
.idea/
*.pyc
**/__pycache__/**

# Visual Studio Code
.vscode/*
*.code-workspace

# Ruby bundle
.bundle/
vendor/

# MacOS
.DS_Store

# common editor backups
*~
*.swp
