---
title: "HEP Software Foundation News"
author: "Torre Wenaus"
layout: default
---
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
</head>
<body>
"{{ site.github.project_title }}" says Hello World

<p>
Sites:
<ul>
{% for repository in site.github.public_repositories %}
  <li> [{{ repository.name }}]({{ repository.html_url }})
{% endfor %}
</ul>
</p>

<p>
Posts:
<ul>
  {% for post in site.posts %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>
</p>

<script src="/js/vendor/jquery.js"></script>
</body>
</html>
