---
title: "HEP Software Foundation News"
author: "Torre Wenaus"
layout: default
---

"{{ site.github.project_title }}" says Hello World (only works on github site)

<p>
Sites: (only works on github site)
<ul>
{% for repository in site.github.public_repositories %}
  <li> <a href="{{ repository.html_url }}">{{ repository.name }}</a> </li>
{% endfor %}
</ul>
</p>

<p>
Posts:
<ul>
  {% for post in site.posts %}
    <li> <a href="{{ post.url }}">{{ post.title }}</a> </li>
  {% endfor %}
</ul>
</p>
