### Basics

{% include list_of_selected_training_modules.html ids="unix,git,python,ssh,ml,matplotlib,root" %}

### Software Development and Deployment

{% include list_of_selected_training_modules.html ids="git,advancedgit,cicd,cicdgithub,docker,singularity,testingpython,levelupyourpython,se-for-sci" %}

### C++ corner

{% include list_of_selected_training_modules.html ids="hepcpp,cmake"%}

### Machine learning and other analysis tools

{% include list_of_selected_training_modules.html ids="ml,gpuml" %}

### HEP specific tools

{% include list_of_selected_training_modules.html ids="scikithep,root,unroot,reana,root-analysis" %}

### Analysis preservation

{% include list_of_selected_training_modules.html ids="git,cicd,cicdgithub,docker,singularity,testingpython,reana" %}

### Complete courses

These modules cover a variety of topics.

{% include list_of_selected_training_modules.html ids="se-for-sci,levelupyourpython,root-analysis,lhcb-analysis-essentials" %}

### Miscellaneous

{% include list_of_selected_training_modules.html ids="simpleanalysis" %}

### Planned, in early development, or archived

{% include list_of_selected_training_modules.html ids="uproot" %}


