<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="/css/hsf.css" type="text/css" />

</head>
<body>

<div class="site">
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        HEP Software Foundation startup team<br />
        hep-sf-startup-team@googlegroups.com
      </p>
    </div>
    <div class="rss">
      <a href="http://feeds.feedburner.com/hep-software-foundation">
        <img src="/images/rss.png" alt="Subscribe to RSS Feed" />
      </a>
    </div>
  </div>
</div>

<!-- Google Analytics -->

<!-- Google Analytics end -->

</body>
</html>
