---
layout: default
---

<div class="blog-header">
  <h1 class="blog-title">{{ page.title }}</h1>
</div>

  {{ content }}

<h2>Mentors</h2>
  {% if page.project_mentors %}
    <ul>
      {% for mentor in page.project_mentors %}
      <li>
        <strong><a href="mailto:{{ mentor.email }}">{{ mentor.name }}</a></strong> - 
      {% if mentor.role %}{{ mentor.role }} - {% endif %}{{ mentor.organization }}
      </li>
      {% endfor %}

    </ul>
{% else %}
    <p>No mentors listed.</p>
{% endif %}

{% if page.year >= 2022 %}
<h2>Additional Information</h2>
  <ul>
      <li>Difficulty level (low / medium / high): {{ page.difficulty }}</li>
      <li>Duration: {{ page.duration }} hours</li>
      <li>Mentor availability: {{ page.mentor_avail }}</li>
  </ul>
{% endif %}

<h2>Corresponding Project</h2>
  <ul>
      <li><a href="{{ site.baseurl }}/gsoc/projects/{{ page.year }}/project_{{ page.project }}.html">{{ page.project }}</a></li>
  </ul>

 <h2>Participating Organizations</h2>
  <ul>
  {% for item in page.organization %}
<li><a href="{{ site.baseurl }}/gsoc/organizations/{{ page.year }}/{{ item| downcase}}.html">{{ item }}</a> </li>
  {% endfor %}
  </ul>
