---
layout: default
---

<div class="blog-header">
  <h1 class="blog-title">{{ page.title }}</h1>
</div>

  {{ content }}

{% if page.year >= 2025 %}
<h2>Mentors</h2>
  {% if page.project_mentors %}
    <ul>
      {% for mentor in page.project_mentors %}
      <li>
      {% if mentor.is_preferred_contact %}
        <strong>
      {% endif %}

      {% if mentor.email %}
        <a href="mailto:{{ mentor.email }}">
      {% endif %}
          {{ mentor.first_name }} {{ mentor.last_name }}
      {% if mentor.email %}
        </a>
      {% endif %}
      {% if mentor.is_preferred_contact %}
        </strong>
      {% endif %}
      {% if mentor.additional_information %}
        - {{ mentor.additional_information }} 
      {% endif %}
      {% if mentor.organization %}
       - {{ mentor.organization }}
      {% endif %}
      </li>
      {% endfor %}

    </ul>
{% else %}
    <p>No mentors listed.</p>
{% endif %}
{% endif %}

{% if page.year >= 2022 %}
<h2>Additional Information</h2>
  <ul>
      <li>Difficulty level (low / medium / high): {{ page.difficulty }}</li>
      <li>Duration: {{ page.duration }} hours</li>
      <li>Mentor availability: {{ page.mentor_avail }}</li>
  </ul>
{% endif %}

<h2>Corresponding Project{% if page.project.size > 1 %}s{% endif %}</h2>
<ul>
{% for proj in page.project %}
  <li>
    <a href="{{ site.baseurl }}/gsoc/projects/{{ page.year }}/project_{{ proj }}.html">
      {{ proj }}
    </a>
  </li>
{% endfor %}
</ul>

 <h2>Participating Organizations</h2>
  <ul>
  {% for item in page.organization %}
<li><a href="{{ site.baseurl }}/gsoc/organizations/{{ page.year }}/{{ item| downcase}}.html">{{ item }}</a> </li>
  {% endfor %}
  </ul>
