---
layout: default
---

<div class="row">
  <div class="col-sm-12 blog-main">

<hr>
        <div class=row>
          <div class="col-md-4">
            <img src="/images/hsf_logo_angled.png" alt="HSF Logo" width="70%">
          </div>
          <div class="col-md-8">
            <p class="lead">
The HEP Software Foundation (HSF) facilitates coordination and common efforts in high energy physics (HEP) software and computing internationally.
           </p>
      </div>
      </div>

<hr>

<!-- Important announcements from announcements/_posts -->
<div>
The HSF is guiding a community process to develop a consensus roadmap for HEP Software and Computing R&amp;D for the 2020s.
More information can be found on the
<a href="{{site.baseurl}}/activities/cwp.html">Community White Paper (CWP)</a> page on the HSF site.
</div>
<hr>
  {% assign sitedate = site.time | date: "%Y-%m-%d"   %}
  {% for post in site.categories.announcements reversed %}
    {% assign stopdate = post.until | string_to_date | date: "%Y-%m-%d" %}
    {% if stopdate > sitedate %}
<div class="row alert alert-warning">
  <p class="lead">
    <span class="glyphicon {{ post.symbol }}" aria-hidden="true"></span> {{ post.title }} (<a href="{{ post.link }}">more info</a>)
  </p>
</div>    
    {% endif %}
  {% endfor %}

<hr>
 
 <!-- Various boxes with more information -->     
<div class="row">
  
 <div class="col-lg-4">
  <h2>Meetings</h2>
    <p>
      All our activities and ideas are discussed weekly in our HSF meeting. Feel free to participate!
    </p>
    <ul class="list list-simple">
{% assign pagedate = site.time | date: "%Y-%m-%d"   %}
{% for post in site.categories.organization limit: 3 %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
    </ul>
    <p><a  href="/organization/minutes.html" role="button">Full list of meetings &raquo;</a></p>
  </div>


 <div class="col-lg-4">
  <h2>Newsletter</h2>
    <p>
      If you would like to stay updated, please subscribe to our newsletter:
    </p>
    <ul class="list list-simple">
{% assign pagedate = site.time | date: "%Y-%m-%d"   %}
{% for post in site.categories.newsletter limit: 3 %}
    <li> <a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
   </ul>
   <p><a href="/newsletter.html" role="button">Older newsletters &raquo;</a></p>
 </div>
 
 
 <div class="col-lg-4">
          <h2>Activities</h2>
          <p>Our plenty of activities span from our <a href="/what_are_WGs.html">working groups</a>, organizing <a href="/events.html">events</a> to supporting projects as <a href="/projects.html">HSF projects</a>, and channeling communication within the community with  <a href="/forums.html">discussion forums</a>,  <a href="/technical_notes.html">technical notes</a> and a <a href="http://www.hepsoftware.org/">knowledge base</a>.
          </p>
   <p><a href="/get_involved.html" role="button">How to get involved &raquo;</a></p>
       </div>
      </div>

  {{ content }}

  </div>
</div>
