---
layout: default
---

<div class="row">
  <div class="col-sm-12 blog-main">

<hr>
        <div class=row>
          <div class="col-md-4">
            <img src="/images/hsf_logo_angled.png" alt="HSF Logo" width="70%">
          </div>
          <div class="col-md-8">
            <p class="lead">
The HEP Software Foundation facilitates cooperation and
<a href="{{site.baseurl}}/activities/cwp.html">common efforts</a>
in High Energy Physics software and computing internationally.
</p>
      </div>
      </div>

<hr>

<!-- Important announcements from announcements/_posts -->
  {% assign has_announcements = false %}
  {% assign sitedate = site.time | date: "%Y-%m-%d"   %}
  {% for post in site.categories.announcements reversed %}
    {% assign stopdate = post.until | string_to_date | date: "%Y-%m-%d" %}
    {% if stopdate > sitedate %}
    {% assign has_announcements = true %}
<div class="row alert alert-warning">
  <p class="lead event-announce">
    <span class="glyphicon {{ post.symbol }}" aria-hidden="true"></span> {{ post.title }} (<a href="{{ post.link }}">more info</a>)
  </p>
</div>
    {% endif %}
  {% endfor %}

{% if has_announcements %} 
<hr>
{% endif %}

 <!-- Various boxes with more information -->
<div class="row">

 <div class="col-lg-4">
  <h2>Meetings</h2>
    <p>
      The HSF holds <a href="/future-events.html" target="_hsf_indico">regular meetings</a>
      in its activity areas and has bi-weekly coordination meetings as well.
      All of our meetings are open for everyone to join.
    </p>
    <ul class="list list-simple">
{% assign pagedate = site.time | date: "%Y-%m-%d"   %}
{% for post in site.categories.organization limit: 3 %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
    </ul>
    <p><a href="/future-events.html" role="button">Upcoming HSF and community events &raquo;</a></p>
    <p><a href="/organization/minutes.html" role="button">Full list of past meetings &raquo;</a></p>
  </div>


 <div class="col-lg-4">
  <h2>PyHEP 2021</h2>
  <p>
    Registration for the <a href="https://indico.cern.ch/e/pyhep2021">PyHEP 2021 workshop</a> is now <a href="https://indico.cern.ch/event/1019958/registrations/">open</a>.
  </p>
  <img src="/images/pyhep/PyHEP_logo_template_white.png"
  alt="PyHEP-logo" style="display: block; width:55%; margin-left: auto; margin-right: auto;">
  <p> After the huge success of PyHEP in 2020 the workshop is back, again as a virtual event. The call for abstracts is 
    <a href="https://indico.cern.ch/event/1019958/abstracts/">open</a> until 6 June for you to submit live tutorial ideas or "notebook talks".
  </p>
 </div>


 <div class="col-lg-4">
 	<h2>Activities</h2>
    	<p>We organise many activities, from our <a href="/what_are_WGs.html">working groups</a>,
          to organising <a href="/events.html">events</a>, to supporting projects as
          <a href="/projects.html">HSF projects</a>, and helping communication within the
          community through our  <a href="/forums.html">discussion forums</a>
          and <a href="/technical_notes.html">technical notes</a>.
          </p>
   <p><a href="/get_involved.html" role="button">How to get involved &raquo;</a></p>
       </div>
      </div>

  {{ content }}

  </div>
</div>
