---
layout: default
---

<div class="row">
  <div class="col-sm-12 blog-main">

<hr>
        <div class=row>
          <div class="col-md-4">
            <img src="/images/ml4sci_logo_angled.png" alt="ML4SCI Logo" width="60%">
          </div>
          <div class="col-md-8">
            
            <p class="lead">
              <br>
Machine Learning for Science (ML4Sci) is an open-source organization that brings together modern machine learning techniques and applies them to cutting edge problems in Science, Technology, Engineering, and Math (STEM).
      
      </div>
      </div>

<hr>

<!-- Important announcements from announcements/_posts -->
  {% assign has_announcements = false %}
  {% assign sitedate = site.time | date: "%Y-%m-%d"   %}
  {% for post in site.categories.announcements reversed %}
    {% assign stopdate = post.until | string_to_date | date: "%Y-%m-%d" %}
    {% if stopdate > sitedate %}
    {% assign has_announcements = true %}
<div class="row alert alert-warning">
  <p class="lead event-announce">
    <span class="glyphicon {{ post.symbol }}" aria-hidden="true"></span> {{ post.title }} (<a href="{{ post.link }}">more info</a>)
  </p>
</div>
    {% endif %}
  {% endfor %}

{% if has_announcements %} 
<hr>
{% endif %}

 <!-- Various boxes with more information -->
<!-- <div class="row"> -->

<!--  <div class="col-lg-4">
  <h2>Meetings</h2>
    <p>
      The HSF holds <a href="/future-events.html" target="_hsf_indico">regular meetings</a>
      in its activity areas and has bi-weekly coordination meetings as well.
      All of our meetings are open for everyone to join.
    </p>
    <ul class="list list-simple">
{% assign pagedate = site.time | date: "%Y-%m-%d"   %}
{% for post in site.categories.organization limit: 3 %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
    </ul>
    <p><a href="/future-events.html" role="button">Upcoming HSF and community events &raquo;</a></p>
    <p><a href="/organization/minutes.html" role="button">Full list of past meetings &raquo;</a></p>
  </div> -->


 <!-- <div class="col-lg-4"> -->
  <h2>ML4SCI in GSoC 2022</h2>
  <p class="lead">
    The ML4Sci open source organization is participating in the <a href="https://summerofcode.withgoogle.com/">2022 Google Summer of Code</a>. If you are a student interested in our  <a href="/activities/gsoc.html">projects</a> please check our <a href="https://ml4sci.org/gsoc/2022/summary.html">ideas page</a>.
ML4Sci is an umbrella organization that welcomes other projects and organizations related to machine-learning for science. Please contact the admins at <a href="mailto:ml4-sci@cern.ch">ml4-sci@cern.ch</a> if you are interested in participating as a project.
  </p>
  <img src="/images/GSoC/GSoC-icon-192.png"
  alt="GSoC-logo" style="display: block; width:15%; margin-left: auto; margin-right: auto;">
  <p class="lead">Please take a look at our <a href="/activities/gsoc.html">GSoC Page</a> for more details.</p>

  <p class="lead">If you are interested in our activities please join our <a href="https://simba3.web.cern.ch/simba3/SelfSubscription.aspx?groupName=ml4sci-announce" target="_blank">announcements mailing list</a>. 
To join, you will need to create a <a href="https://account.cern.ch/account/externals/" target="_blank">CERN lightweight account</a>.</p>


<!-- <div style="color: darkmagenta;
            background: lightpink;
            border: 3px solid darkred;
            font-size: 30px; 
            padding: 10px;  
            margin: 10px;">
  Please do not email/reach out to us yet until we officially announce the begin of the GSoC period.
</div> -->

<p class="lead">Organization administrators: <br>
Prof. Sergei Gleyzer (University of Alabama) <br>
<a href="https://emanueleusai.com" target="_blank">Dr. Emanuele Usai (Brown University)</a> <br>
Dr. Patrick Peplowski (JHUAPL) <br>
Prof. Meenakshi Narain (Brown University) <br>
</p>
 <!-- </div> -->


<!--  <div class="col-lg-4">
 	<h2>Activities</h2>
    	<p>We organise many activities, from our <a href="/what_are_WGs.html">working groups</a>,
          to organising <a href="/events.html">events</a>, to supporting projects as
          <a href="/projects.html">HSF projects</a>, and helping communication within the
          community through our  <a href="/forums.html">discussion forums</a>
          and <a href="/technical_notes.html">technical notes</a>.
          </p>
   <p><a href="/get_involved.html" role="button">How to get involved &raquo;</a></p>
       </div> -->
      <!-- </div> -->

  {{ content }}

  </div>
</div>
