name: Check Markdown links

on: [push, pull_request]

jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Ruby Install
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.2'
          bundler-cache: true
      - name: Jekyll Build
        run: bundler exec jekyll build
      - name: Check Links
        uses: gaurav-nelson/github-action-markdown-link-check@v1
        with:
          config-file: '.github/config/mdcheck.json'
          check-modified-files-only: 'yes'
          use-verbose-mode: 'yes'
          base-branch: 'main'
